.ol-style {
   color: black;
   text-align: center;
   list-style-type: upper-roman;
   list-style-position: inside;
}

h3 {
   text-align: center;
   text-decoration: underline;
}

.skills {
   color: green;
}

.p-style {
   color: rgb(57, 0, 214);
   text-align: center;
}